body {
    padding: 0;
    margin: 0;
    background-image: url("Blue-Archive.jpg");
}
.container {
    display: flex;

}
.left-side {
    width: 40%;
    height: auto;
}
.right-side {
    display: flex;
    flex-direction: column;
 
    width: 60%;
    height: 100vh;
    background-color: rgb(248, 206, 129);
}
.header {
    font-weight:bold;
    font-size: 69px;
    width: auto;
    padding-top: 200px;
    padding-left: 30px;
}
.sign-up-form {
    background-color: grey;
    width: auto;
    height: 39%;
    text-align: center;
}