body {
    padding: 0px;
    margin: 0px;
    background-image: url("Blue-Archive.jpg");
}
.container {
    display: flex;

}
.left-side {
    width: 40%;
    height: auto;
    text-align: center;
    padding-top: 850px;
    color:aliceblue;
}
.ba-link {
    color:white;
    text-decoration: underline;
}
.right-side {
    display: flex;
    flex-direction: column;
 
    width: 60%;
    height: 100vh;
    background-color: rgb(223, 231, 231);
}
.header {
    font-weight:bold;
    font-size: 69px;
    width: auto;
    padding-top: 200px;
    padding-left: 30px;
    padding-bottom: 30px;
}
.sign-up-form {
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 5px 5px rgb(148, 148, 148);
    width: auto;
    height: 39%;
    padding: 0px;
}
h1 {
    padding-left: 30px;
}
.inputs {
    display: flex;
    gap: 100px;
}
.sign-up-col-1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 30px;
}
.sign-up-box {
    font-size: 24px;
    padding-bottom: 25px;
}
input {
    font-size: 24px;
    width: 300px;
    height: 30px;
    border-color: #E5E7EB;
}

input:focus {
    background-color: lightblue;
    box-shadow: 5px 5px 5px rgb(148, 148, 148);
}
.create-account {
    display:flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}
.log-in {
    display:flex;

}
a {
    margin-left: 5px;
    text-decoration: none;
}
.create-account-btn {
    width: 240px;
    height: 40px;
    font-size: 18px;
    color:white;
    border-radius: 5px;
    background-color: rgb(40, 44, 70);
}
.shiroko {
    padding: 0px;
    margin: 0px;
    position:absolute;
    background-color: azure;
    opacity: 50%;
    width: 100%;
    top: 205px;

}
.shiroko-img {
    height: 100px;
    padding:0px;
    margin: 0px;
    padding-left: 300px;
    width: auto;
    
}